node_modules
.idea
.idea/jsLibraryMappings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/ProgrammingStudies_node_modules.xml
.idea/ProgrammingStudies.iml
.idea/workspace.xml
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
pids
logs
results
npm-debug.log